{% load martortags %}

<nav>
    <div class="tab-navigator">
        <ul id="tabs" class="tabs">
            <li class="tab" data-content-target="about" data-active> About </li>
            <li class="tab" data-content-target="positions"> Positions </li>
            <li class="tab" data-content-target="education"> Education </li>
            <li class="tab" data-content-target="projects"> Projects </li>
            <li class="tab" data-content-target="quotes"> Quotes </li>
        </ul>
    </div>
</nav>

<main>
    <section data-content="about" data-active>
        <article>
            Category &bull; May, 2023 → Current (0 months) 
            <hr/>
            <h3> Personal website development with Django framework. </h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus metus felis, pulvinar in augue eu, tempus laoreet mi. Proin porta finibus urna, sit amet efficitur sem fermentum in. Aenean enim sapien, euismod in ligula quis, condimentum suscipit ipsum. Vestibulum aliquam a urna vitae pretium. Vestibulum accumsan dui nec semper pretium. Mauris gravida sapien vel elit eleifend, sed rutrum ipsum dignissim. Aliquam erat volutpat. Integer ligula sem, pellentesque sed turpis quis, laoreet pretium ligula. </p>
            <hr/>
            <div class="technologies">
                <span> Django </span>
                <span> Python </span>
            </div>
        </article>
    </section>

    {% for entry in entries %}
        <article class="entry">
            {{ entry.title }}
            {{ entry.description|safe_markdown }}
            {{ entry.started_at }}
            {{ entry.ended_at }}

            {% for item in entry.entry_technologies.all %}
                {{ item.technology.title }}
            {% endfor %}
        </article>
    {% endfor %}

    <section data-content="quotes">
        <article>
            Quotes section
        </article>
    </section>
</main>