{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Portfolio and CV">
    <meta name="author" content="Karolis Strazdas">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'personal/images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'personal/images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'personal/images/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'personal/images/favicon/site.webmanifest' %}">  
    <link rel="mask-icon" href="{% static 'personal/images/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <script src="{% static 'personal/js/main.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'personal/css/main.css' %}">
    <title> Karolis Strazdas </title>
</head>
<body class="theme dark" data-theme="dark">
    {% include 'profile.html' %}
    {% include 'entries.html' %}
    {% include 'footer.html' %}
</body>
</html>