{% load static %}

<header class="profile col-gap-2">
    <img src={% static 'personal/images/avatar.jpg' %} alt="{{ user.first_name }} {{ user.last_name }}" class="avatar" />
    <hgroup class="flex column row-gap-1">
        <h1> {{ user.first_name }} {{ user.last_name }} </h1>
        <h2> {{ user.position }} at {{ user.company }} </h2>

        <div class="profile-location flex col-gap-1">
            <span class="icon location"></span>
            <h3> {{ user.location }} </h3>

            {% for link in user.social_links.all %}
                <a href="{{ link.url }}" title="{{ link.title }}" target="_blank">
                    <span class="icon interactive {{ link.icon }}"></span>
                </a>
            {% endfor %}
        </div>
    </hgroup>
</header>