{% load static %}

<button id="theme-switcher" class="icon interactive theme-switcher" data-next-theme="light" aria-label="Theme switcher"></button>

<header class="profile col-gap-2">
    <img src={% static 'personal/images/avatar.jpg' %} alt="{{ user.first_name }} {{ user.last_name }}" class="avatar" />
    <hgroup class="flex column row-gap-1">
        <h1> Karolis Strazdas </h1>
        <h2> Programmer at Indeform Ltd. </h2>

        <div class="profile-location flex col-gap-1">
            <div class="flex">
                <span class="icon location medium"></span>
                <h3> Kaunas, Lithuania </h3>
            </div>

            <div class="flex">
                <a href="https://www.linkedin.com/in/karolis-strazdas">
                    <span class="icon medium interactive linkedin"></span>
                </a>

                <a href="https://www.github.com/Eoic">
                    <span class="icon medium interactive github"></span>
                </a>
            </div>
        </div>
    </hgroup>
</header>