<%inherit file="../partials/layout.html" />

<section>
    <article>
        <div><b> Description </b></div>
        <hr>
        <p class="info">${content_description}</p>
    </article>
    <article>
        <div class="flex row-center-y col-gap-1">
            <span class="icon medium inline read"></span>
            <b> Reading </b>
        </div>
        <ul>
            %for item in reading:
            <li>
                %if "link" in item:
                <a class="link bordered" href="${item['link']}" target="_blank">${item['title']};</a>
                %else:
                <span>${item['title']}</span> &mdash; <em>${item['author']}</em>;
                %endif
            </li>
            %endfor
        </ul>
        <div class="flex row-center-y col-gap-1 mt-1">
            <span class="icon medium inline learn"></span>
            <b> Learning about </b>
        </div>
        <ul>
            %for item in learning_about:
            <li> ${item}; </li>
            %endfor
        </ul>

        <div class="flex row-center-y col-gap-1 mt-1">
            <span class="icon medium inline work"></span>
            <b> Working on </b>
        </div>
        <ul>
            %for item in working_on:
            <li>
                <a class="link bordered" href="${item['link']}" target="_blank">${item['title']}</a>
                - ${item['subtitle']};
            </li>
            %endfor
        </ul>
    </article>
</section>