<header class="profile col-gap-2">
    <img src="images/avatar.jpg" alt="Karolis Strazdas" class="avatar">
    <section class="flex column row-gap-1">
        <h1>Karolis Strazdas</h1>
        <h2>Programmer at Indeform Ltd.</h2>

        <div class="profile-location flex col-gap-1">
            <div class="flex row-center-y">
                <span class="icon location medium"></span>
                <h3>Kaunas, Lithuania</h3>
            </div>

            <div class="flex col-gap-1">
                <a href="https://www.linkedin.com/in/karolis-strazdas" target="_blank"
                    aria-label="Learn more about me at LinkedIn.">
                    <span class="icon medium interactive linkedin"></span>
                </a>

                <a href="https://www.github.com/Eoic" target="_blank" aria-label="Explore my side project at GitHub">
                    <span class="icon medium interactive github"></span>
                </a>

                <a href="mailto:karolis.strazdas@pm.me" aria-label="Contact via email.">
                    <span class="icon medium interactive email"></span>
                </a>
            </div>
        </div>
    </section>
</header>
