<!DOCTYPE html>
<html lang="en" class="theme">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Software engineer passionate about building useful things for the web and solving real-world problems. Explore my portfolio and side projects here."> 
    <meta name="author" content="Karolis Strazdas">
    <link rel="canonical" href="https://karolis-strazdas.lt">
    <link rel="stylesheet" type="text/css" href="css/main.css?v=${build['version']}">

    <!-- OpenGraph -->
    <meta property="og:title" content="Karolis Strazdas">
    <meta property="og:image" content="https://karolis-strazdas.lt/images/initials.png">
    <meta property="og:logo" content="https://karolis-strazdas.lt/images/initials.png">
    <meta property="og:description" content="Software engineer passionate about building innovative web applications. Explore my projects and professional background.">
    <meta property="og:url" content="https://karolis-strazdas.lt">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Karolis Strazdas | Software engineer">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
    <link rel="manifest" href="images/favicon/site.webmanifest">
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Person",
            "name": "Karolis Strazdas",
            "url": "https://karolis-strazdas.lt",
            "image": "https://karolis-strazdas.lt/images/initials.png",
            "jobTitle": "Software Engineer",
            "sameAs": [
                "https://www.linkedin.com/in/karolis-strazdas",
                "https://github.com/Eoic"
            ],
            "worksFor": {
                "@type": "Organization",
                "name": "Indeform Ltd."
            },
            "address": {
                "@type": "PostalAddress",content="Software engineer building useful things for the web. Passionate about creating innovative applications and solving real-world problems. Explore my portfolio and side projects here."
                "addressLocality": "Kaunas",
                "addressCountry": "Lithuania"
            }
        }
    </script>

    <script>
        const selectedTheme = localStorage.getItem('theme') || 'dark';
        const defaultTheme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
        document.documentElement.classList.add(selectedTheme ?? defaultTheme);
    </script>

    <script>
        window.si = window.si || function () { (window.siq = window.siq || []).push(arguments); };
    </script>

    <script defer src="/_vercel/speed-insights/script.js"></script>

    <title> Karolis Strazdas • ${title}</title> 
</head>

<body>
    <button id="theme-switcher" class="icon interactive theme-switcher" aria-label="Theme switcher"></button>

    <%include file="header.html" />
    <%include file="navigation.html" />
    <main>${self.body()}</main>
    <canvas id="background"></canvas>
    <script src="js/main.js?v=${build['version']}"></script>
</body>

</html>